{% extends "ml_import_wizard/base.html" %}

{% block page_content %}
<div class='border border-2 border-primary rounded-3 bg-light container'>
    Preview for: <b>{{import_scheme}}</b>
    <table id='datatable'></table>
    <a role="button" class="btn btn-primary mt-2 mb-2" id="approve_button" href="{% url 'ml_import_wizard:scheme_preview_accept' import_scheme_id=import_scheme.id %}">Approve Preview</a>
</div>

<script type="text/javascript">
$( document ).ready(
    $('#datatable').bootstrapTable({
      striped: true,
      pagination: true,
      showColumns: true,
      showToggle: true,
      showExport: true,
      sortable: true,
      paginationVAlign: 'both',
      pageSize: 25,
      pageList: [10, 25, 50, 100, 'ALL'],
      columns: {{ columns|safe }},
      data: {{ rows|safe }},
    })
  );
</script>
{% endblock %}