{% extends "ml_import_wizard/base.html" %}

{% block page_content %}
Looking to preview:<br>
<table id='datatable'></table>

<script type="text/javascript">
$( document ).ready(
    $('#datatable').bootstrapTable({
      striped: true,
      pagination: true,
      showColumns: true,
      showToggle: true,
      showExport: true,
      sortable: true,
      paginationVAlign: 'both',
      pageSize: 25,
      pageList: [10, 25, 50, 100, 'ALL'],
      columns: {{ columns|safe }},
      data: {{ rows|safe }},
    })
  );
</script>
{% endblock %}