<div class="accordion-item border border-2" id="accordion_!ACCORDION_ID!">
  <h2 class="accordion-header" id="heading_!ACCORDION_ID!">
    <button id='button_!ACCORDION_ID!' class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_!ACCORDION_ID!" aria-expanded="!EXPANDED!" aria-controls="collapse_!ACCORDION_ID!">
    </button>
  </h2>
  <div id="collapse_!ACCORDION_ID!" class="accordion-collapse collapse" aria-labelledby="heading_!ACCORDION_ID!" {# data-bs-parent="#import_scheme_accordion" #}>
    <div class="accordion-body" id='body_!ACCORDION_ID!'>
    </div>
  </div>
</div>