<!-- Modal -->
<div class="modal fade" id="progress_modal_control" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="progress_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progress_modal_title">Uploading File(s)</h5>
        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
      </div>
      <div class="modal-body" id='progress_modal_body'>
        <div id='progress_content'></div>
        <div class="container progress" id="progress">
        </div>
      </div>
      <div class="modal-footer" id='progress_modal_footer'>
      </div>
    </div>
  </div>
</div>